In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('homeprices.csv')
df.head()

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

In [3]:
x = df.iloc[:,:1]
y = df.iloc[:,1:]

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [5]:
model = LinearRegression()
model.fit(x,y)

LinearRegression()

In [6]:
predict = model.predict(x)
r2_score(y,predict)

0.9584301138199486

In [7]:
import pickle 
pickle_out = open("regression.pkl", mode = "wb") 
pickle.dump(model, pickle_out) 
pickle_out.close()